fastapi
uvicorn
python-multipart

pyspark
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
catboost

apache-airflow
apache-airflow-providers-fab
graphviz

openai

ydata_profiling
requests
dotenv

